body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.parent-app {
	text-align: center;
	display: flex;
	flex-flow: row wrap;
}
.parent-title-bar {
	width: 100%;
	display: flex;
}
.parent-column {
	width: 49%;
}
.parent-left-side {
	border-right: solid;
	border-color: darkcyan;
	border-width: 1px;
}
.parent-right-side {
	border-left: solid;
	border-color: darkcyan;
	border-width: 1px;
}
