.parent-app {
	text-align: center;
	display: flex;
	flex-flow: row wrap;
}
.parent-title-bar {
	width: 100%;
	display: flex;
}
.parent-column {
	width: 49%;
}
.parent-left-side {
	border-right: solid;
	border-color: darkcyan;
	border-width: 1px;
}
.parent-right-side {
	border-left: solid;
	border-color: darkcyan;
	border-width: 1px;
}
